---
layout: default
---

{{ content }}

<section id="about">
    <div class="container">
        <h2>About</h2>
        <p>I'm a web and application developer. I'm passionate about GNU/Linux and use Arch Linux as my daily driver.</p>
    </div>
</section>

<section id="languages">
    <div class="container">
        <h2>Languages</h2>
        <p>I primarily work with TypeScript due to its robust type safety and advanced tooling, which contribute to a smoother and more reliable development process. I also leverage JavaScript for its flexibility, and Python for scripting, tooling, and rapid prototyping. Additionally, I possess strong CSS skills for crafting responsive designs and layouts.</p>
    </div>
</section>

<section id="skills">
    <div class="container">
        <h2>Skills</h2>
        <div class="skills-grid">
            <span class="skill-item">JavaScript</span>
            <span class="skill-item">TypeScript</span>
            <span class="skill-item">Python</span>
            <span class="skill-item">CSS</span>
            <span class="skill-item">WebAssembly</span>
            <span class="skill-item">Vite</span>
            <span class="skill-item">React</span>
            <span class="skill-item">Next.js</span>
            <span class="skill-item">Tailwind</span>
            <span class="skill-item">SQLite</span>
            <span class="skill-item">PostgreSQL</span>
            <span class="skill-item">Linux</span>
            <span class="skill-item">Git</span>
        </div>
    </div>
</section>

<section id="get-in-touch">
    <div class="container">
        <h2>Get in Touch</h2>
        <p>Want to chat? Just shoot me a dm with a direct question on <a href="https://t.me/{{ site.telegram_username }}" target="_blank" class="highlight">Telegram</a> and I'll respond whenever I can.</p>
    </div>
</section>
